body{
    background-color: #070707;

}
.box{
    background-color: #2274a5;
    width: 75vh;
    height: 75vh;
    border-radius: 15%;
    margin-top: 13vh;
    margin-left: 65vh;
}
#frm{
    position: absolute;
    margin-left: 120px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}