body{
    height: 150vh;
    margin: 0;
}
.navbar{
    width: 100vw;
    height: 70px;
    background-color: #2c4cff;
    font-family: 'Open Sans', sans-serif;
}
#marca{
    position: absolute;
    margin-left: 5vw;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    cursor: default;
}
#marca:hover{
    color: rgb(255, 255, 255);
}
#login{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    cursor: default;
}
.box{   
    background-color: #2c4cff;
    width: 550px;
    height: 800px;
    border-radius: 55px;
    margin-top: 15vh;
    margin-left: 33vw;
}
#frm{
    position: absolute;
    margin-left: 105px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    font-size: 19px;
    margin-left: -20px;
}
#reset{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    font-weight: 600;
}
#reset:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
    background: #2c4cff;
}
#go{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    text-shadow:none;
    margin-left: 15px;
    border: none;
    font-weight: 600;
}
#go:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: #ffd519;
    text-shadow:none;
}
#gotime{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-left: 15px;
    border: none;
    font-weight: 600;
}
#gotime:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: #80ff70;
}
.inputs{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 6px;
	border-radius: 50px;
}
@media only screen and (min-width: 400px) and (max-width: 600px){
    #login{
        position: absolute;
        margin-left: 90vw;
        margin-top: 15px;
        cursor: default;
    }
    .box{
        background-color: #2c4cff;
        width: 390px;
        height: 850px;
        border-radius: 55px;
        margin-top: 15px;
        margin-left: 5px;
    }
    #frm{
        position: absolute;
        margin-left: 50px;
        margin-top: 60px;
        font-family: 'Open Sans', sans-serif;
    }
    .titulo{
        font-size: 19px;
        margin-left: 60px;
    }
    #reset{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-top: 15px;
        margin-left: -20px;
        border: none;
        font-weight: 600;
    }
    #reset:hover{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-top: 15px;
        background: #fd1947;
    }
    #go{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        text-shadow:none;
        margin-left: 15px;
        border: none;
        font-weight: 600;
    }
    #go:hover{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        background: #ffd519;
        text-shadow:none;
    }
    #gotime{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-left: 15px;
        border: none;
        font-weight: 600;
    }
    #gotime:hover{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        background: #80ff70;
    }
    .inputs{
        width: 80%;
        border: none;
        margin-top: 6px;
        border-radius: 50px;
    }
}