body{
    height: 150vh;
    margin: 0;
}
.navbar{
    width: 100vw;
    height: 70px;
    background-color:#81D6E3;
    font-family: 'Open Sans', sans-serif;
}
#marca{
    position: absolute;
    margin-left: 5vw;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
    cursor: default;
}
#marca:hover{
    color: rgb(255, 255, 255);
}
#login{
    position: absolute;
    margin-left: 95vw;
    margin-top: 15px;
    cursor: default;
}
.box{   
    background-color: #81D6E3;
    width: 550px;
    height: 800px;
    border-radius: 55px;
    margin-top: 15vh;
    margin-left: 25vw;
}
#frm{
    position: absolute;
    margin-left: 105px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    font-size: 19px;
    margin-left: -20px;
}
#reset{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
    border: none;
    font-weight: 600;
}
#go{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    text-shadow:none;
    margin-left: 15px;
    border: none;
    font-weight: 600;
}
#gotime{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-left: 15px;
    border: none;
    font-weight: 600;
}
.inputs{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 6px;
	border-radius: 50px;
}
@media only screen and (min-width: 400px) and (max-width: 600px){
    body{
        height: 120vh;
        margin: 0;
    }
    .navbar{
        width: 100vw;
        height: 70px;
        background-color:#81D6E3;
        font-family: 'Open Sans', sans-serif;
    }
    #login{
        position: absolute;
        margin-left: 85vw;
        margin-top: 15px;
        cursor: default;
    }
    .box{
        background-color: #81D6E3;
        width: 400px;
        height: 850px;
        border-radius: 55px;
        margin-top: 50px;
        margin-left: 7px;
    }
    #frm{
        position: absolute;
        margin-left: 11vw;
        margin-top: 60px;
        font-family: 'Open Sans', sans-serif;
    }
    .titulo{
        font-size: 19px;
        margin-left: 60px;
    }
    #reset{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-top: 15px;
        margin-left: -15px;
        font-weight: 600;
    }
    #go{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-left: 15px;
        border: none;
        font-weight: 600;
    }
    #gotime{
        height: 30px;
        width: 100px;
        border-radius: 15px;
        margin-left: 15px;
        font-weight: 600;
    }
    .inputs{
        width: 80%;
        border: none;
        margin-top: 6px;
        border-radius: 50px;
    }
}