body{
    background-color: #ffffff;
}
.box{
    background-color: #2274a5;
    width: 74vh;
    height: 100vh;
    border-radius: 55px;
    margin-top: 13vh;
    margin-left: 65vh;
}
#frm{
    position: absolute;
    margin-left: 105px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    font-size: 19px;
}
#reset{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
}
#reset:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
    background: #ED254E;
}
#go{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    text-shadow:none;
}
#go:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: #F9DC5C;
    text-shadow:none;
}
#gotime{
    height: 30px;
    width: 100px;
    border-radius: 15px;
}
#gotime:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: #C2EABD;
}
.inputs{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-top: 6px;
	border-radius: 50px;
}