body{
    background-color: #ffffff;

}
.box{
    background-color: #2274a5;
    width: 75vh;
    height: 75vh;
    border-radius: 15%;
    margin-top: 13vh;
    margin-left: 65vh;
}
#frm{
    position: absolute;
    margin-left: 105px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    font-size: 19px;
}
#reset{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;
}
#go{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    text-shadow:none;
}
#go:hover{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: #F9DC5C;
    text-shadow:none;
}
#gotime{
    height: 30px;
    width: 100px;
    border-radius: 15px;
}